
.node-first-visited {
    animation-name: firstVisitedAnimation;
    animation-duration: 1.5s;
    background-color: #42C0FB;
    border-left: 1px solid #5acbffce;
    border-top: 1px solid #5acbffce;
}

.node-first-visited-last-row {
    animation-name: firstVisitedAnimation;
    animation-duration: 1.5s;
    border-bottom: 1px solid #5acbffce;
}

.node-first-visited-last-col {
    animation-name: firstVisitedAnimation;
    animation-duration: 1.5s;
    border-right: 1px solid #5acbffce;
}

.node-shortest-path {
    animation-name: shortestPathAnimation;
    animation-duration: 1s;
    background: url("../../../../assets/images/ship.png") no-repeat;

    z-index: 2;
    background-size: 50%;
    position: relative;
}

.node-shortest-path-last-row {
    animation-name: shortestPathAnimation;
    animation-duration: 1s;
    border-bottom: 1px solid #ebd301;
}

.node-shortest-path-last-col {
    animation-name: shortestPathAnimation;
    animation-duration: 1s;
    border-right: 1px solid #ebd301;

}

@keyframes firstVisitedAnimation {
    0% {
        background-color: #002435;
        transform: scale(0.2);
        border-radius: 100%;
    }

    20% {
        background-color: #0b3e56;
        border-radius: 67%;
    }

    40% {
        background-color: #165877;
        border-radius: 33%;
    }

    60% {
        background-color: #277fa8;
        border-color: #277fa8;
        transform: scale(1.3);
        border-radius: 0%;
    }

    80% {
        background-color: #37a6da;
        border-color: #37a6da;
    }

    100% {
        background-color: #42C0FB;
        border-color: #5acbffce;
        transform: scale(1);
    }
}

@keyframes shortestPathAnimation {
    0% {
        transform: scale(1.5);
    }

    40% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.0);
    }
}
